sudo: false
language: cpp
compiler:
  - gcc
  - clang
os:
  - linux

matrix:
  include:
    - os: linux
      env: COMPILER_NAME=gcc CXX=g++-5 CC=gcc-5
      addons:
        apt:
          packages:
            - g++-5
          sources: &sources
            - llvm-toolchain-precise-3.8
            - ubuntu-toolchain-r-test
    - os: linux
      env: COMPILER_NAME=clang CXX=clang++-3.8 CC=clang-3.8
      addons:
        apt:
          packages:
            - clang-3.8
          sources: *sources


script:
    - g++ graph_test.cpp -std=c++17 -o travis_gcc_cpp17
    - ./travis_gcc_cpp17

    - cmake CMakeLists.txt
    - make ./executeTests
    - ./executeTests